/*this is an external css*/
h1{
	font-family: Tahoma;
	color:  white;
	Letter-spacing:  2px;
	text-transform: uppervase;
	text-shadow:  2px 2px #4F6CAF  ;
	text-align:  center;
}

p{
	text-indent:  25px;
	color:  white;
}
span{
	text-decoration: underline;
	font-variant:  small-caps;
}
body {
	background-color:  #212F3C;
}
img{
	border-style: solid;
	border-color: white;
	float:  right;
}
small{
	color:  white;
}